<div class="app jumbotron">
    <!-- Logo -->
    <div class="container">
        <div class="container jumbotron">
            <h1 class="display-4 text-center">AB SOLUÇÕES EM TI</h1>
            <p class="lead text-center">Soluções eficientes para sua empresa.
            </p>
        </div>
    </div>
    <!-- Tela de Login-->
    <div class="container box mx-auto login">
        <div class="row container">
            <div class="col text-center">
                <h2>Insira seus dados</h2><br>
                <img class="mx-auto" src="../assets/images/Identificacao.png" alt="">
            </div>
            <div class="col">
                <form>
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input type="text" class="form-control" id="login" aria-describedby="emailHelp" placeholder="Usuário">

                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" id="senha" placeholder="Senha">
                        <small id="loginHelp" class="form-text text-muted">Nunca compartilharemos seus dados.</small>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cheeck">
                        <label class="form-check-label" for="exampleCheck1">Salvar usuário</label>
                    </div>
                    <button type="submit" class="btn btn-darkblue" (click)="btnChange()">ENTRAR</button><br>
                    <a class="avisos" href="# ">Esqueceu a senha?</a>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <button class="fixedbutton btn btn-light ">
      Projeto 01 - Sistema desenvolvido por AB Soluções em TI Ltda.
    </button>
</div>