.fundoBranco {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px grey;
    margin-top: 25px;
}

h1 {
    margin-top: 15%;
    margin-bottom: 25%;
}

button {
    margin-top: 10%;
    margin-bottom: 20%;
}

input {}