<div class="row">
    <div class="col-5 mx-auto">
        <h1>Faça seu login.</h1>
    </div>
</div>

<form>
    <div class="row">
        <div class="form-group col-5 mx-auto">
            <label class="form-label" for="user">Usuário ou e-mail</label>
            <input type="text" class="form-control" id="user" placeholder="Usuário ou email">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-5 mx-auto">
            <label for="pw">Senha</label>
            <input type="text" class="form-control" id="pw" placeholder="Senha">
        </div>
    </div>
    <div class="row">
        <div class="form-check col-5 mx-auto">
            <input type="checkbox" id="checkout">
            <label class="form-check-label" for="checkout" style="padding-left: 5px">Salvar usuário</label><br>
        </div>
    </div>
    <div class="row">
        <div class="col-5 mx-auto">
            <button type="button" class="btn btn-outline-dark">Logar</button>

        </div>
    </div>
</form>