<mat-toolbar>
    <mat-toolbar-row>
        <span><img src="../../../assets/images/Logo.png" alt="AB Soluções em TI" width="50px"></span>
        <h1 class="nav-brand ml-auto"> AB SOLUÇÕES EM TI</h1>
        <div class="ml-auto">
            <a mat-button [routerLink]="'/accounts'">
                <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
            </a>
            <a mat-button [routerLink]="'/create-account'">
                <mat-icon aria-hidden="false" aria-label="Example home icon">feedback</mat-icon>
            </a>
            <a mat-button [routerLink]="'/contacts'">
                <mat-icon aria-hidden="false" aria-label="Example home icon">graphic_eq</mat-icon>
            </a>
            <a mat-button [routerLink]="'/create-contact'">
                <mat-icon aria-hidden="false" aria-label="Example home icon">folder</mat-icon>
            </a>
            <a mat-button [routerLink]="'/activities'">
                <mat-icon aria-hidden="false" aria-label="Example home icon">local_printshop</mat-icon>
            </a>
            <a mat-button [routerLink]="'/create-activity'">
                <mat-icon aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<!-- Secondary Toolbar -->
<!-- 2o menu -->
<mat-tab-group mat-stretch-tabs (click)="toggle()">
    <mat-tab label="CADASTRAR">
        <ng-container *ngIf="show">
            <cadastrar-entidade></cadastrar-entidade>
        </ng-container>
    </mat-tab>
    <mat-tab label="ÁREAS ">
        <ng-container *ngIf="show">
            <minhas-areas></minhas-areas>
        </ng-container>
    </mat-tab>
    <mat-tab label="FINANCEIRO ">
        <ng-container *ngIf="show">
            <meu-financeiro></meu-financeiro>
        </ng-container>
    </mat-tab>
</mat-tab-group>