<h1>Cadastrar entidade</h1>
<hr>
<form>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="cpfCnpj">Digite CPF ou CNPJ</label>
                <input id="cpfCnpj" type="text" class="form-control" placeholder="*000.111.222-33 ou 00.000.000/0001-00">
            </div>
            <button class="btn btn-sm btn-outline-dark">Puxar dados CNPJ</button>
            <hr>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="nome">Nome completo</label>
                <input id="nome" type="text" class="form-control" placeholder="*Luiz Silva">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="text" class="form-control" placeholder="*luiz.silva@exemplo.com.br">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="sobrenome">Telefone fixo</label>
                <input type="text" id="sobrenome" class="form-control" placeholder="*(41) 3000-0000">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="sobrenome">Telefone celular</label>
                <input type="text" id="sobrenome" class="form-control" placeholder="*(41) 3000-0000">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="sobrenome">Fax</label>
                <input type="text" id="sobrenome" class="form-control" placeholder="*(41) 3000-0000">
            </div>
        </div>
    </div>

    <h2>Endereço</h2>
    <hr>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="cep">CEP</label>
                <input name="cep" type="text" class="form-control" placeholder="*00000-000" [(ngModel)]="cep.cep">
            </div>
            <button class="btn btn-sm btn-outline-dark">Puxar dados CORREIOS</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="logradouro">Logradouro</label>
                <input name="logradouro" type="text" class="form-control" placeholder="*Rua 30 de fevereiro" [(ngModel)]="cep.logradouro">
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="numero">Número</label>
                <input name="numero" type="text" class="form-control" placeholder="*1333" [(ngModel)]="cep.numero">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="bairro">Bairro</label>
                <input name="bairro" type="text" class="form-control" placeholder="*Santa Felicidade" [(ngModel)]="cep.bairro">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="cidade">Cidade</label>
                <input name="cidade" type="text" class="form-control" placeholder="*Curitiba" [(ngModel)]="cep.cidade">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="estado">Estado</label>
                <input name="estado" type="text" class="form-control" placeholder="*PR" [(ngModel)]="cep.estado">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="complemento">Complemento</label>
                <input name="complemento" type="text" class="form-control" placeholder="*Esquina com a Rua XV." [(ngModel)]="cep.complemento">
            </div>
        </div>
    </div>


    <button class="btn btn-dark" type="submit">Cadastrar</button>
</form>