<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
    <a href="#" class="navbar-brand">AB Soluções em TI</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="navbarCollapse">
        <span style="padding-right: 20px" class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a href="#" class="nav-link">Sobre a empresa</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link">Sistemas</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link">Equipamentos</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link">Infraestrutura em TI</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link">Suporte</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link">Contato</a>
            </li>
        </ul>
    </div>
</nav>